<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Harry's Music Library</title>
        <link href='https://fonts.googleapis.com/css?family=Candal|Nunito|Lobster' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <nav class="all-navs">
            <nav class="library-nav">
                <ul>
                    <li><a href='/library'>Library</a></li>
                </ul>
            </nav>
            <nav class='multi-nav'>
                <ul>
                    <li>Albums</li>
                    <li><a href="/albums">View all</a></li>
                    <li><a href="/albums/new">Create new</a></li>
                </ul>
            </nav>
            <nav class='multi-nav'>
                <ul>
                    <li>Artists</li>
                    <li><a href="/artists">View all</a></li>
                    <li><a href="/artists/new">Create new</a></li>
                </ul>
            </nav>
            <p class="site-title">Harry's Music Library</p>
        </nav>

        <%= yield %>

    </body>
</html>
