<div class="header">
    <h1>Artists</h1>
</div>
<% if @artists.length > 0 %>
    <div class="artists">
        <% @artists.each do |artist| %>
            <div class='artist'>
                <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
            </div>
        <% end %>
    </div>
<% else %>
    <div>There are currently no artists, consider creating one.</div>
<% end %>
