<div class="header">
    <h1>Edit Artist #<%= @artist.id %></h1>
</div>

<form action="/artists/<%= @artist.id %>" method="post">
    <input type="hidden" name="_method" value="put" />
    <label for="name">Name:</label>
    <input type="text" class="text" name="name" placeholder="e.g. Rod Stewart" value='<%= @artist.name %>'/>
    <input type="submit" class="button" name="create_artist" value="Save"/>
</form>
<form action="/artists/<%= @artist.id %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="button delete" value="DELETE" />
</form>
