<div class="header">
    <h1>Albums</h1>
</div>
<% if @albums.length > 0 %>
    <div class="albums">
        <% @albums.each do |album| %>
            <div class='album'>
                <a href="/albums/<%= album.id %>"><%= album.name %></a>
            </div>
        <% end %>
    </div>
<% else %>
    <div class="no-albums">There are currently no albums, consider creating one.</div>
<% end %>
